export TF_VAR_name=chucknorris
export TF_VAR_base_domain=kubernetes.delivery
export TF_VAR_aws_az=us-east-2a
export DOMAIN_NAME=${TF_VAR_name}.${TF_VAR_base_domain}
export AWS_DEFAULT_REGION=$(echo ${TF_VAR_aws_az} | sed 's/.$//')
export AWS_PROFILE=default
export GITHUB_API_TOKEN=23432423sdfsdfsd
export GIT_API_SECRET=supersecret
export HUB_API_SECRET=supersecret
export AUTH_API_SECRET=supersecret
export STRIPE_SECRET_KEY=supersecret
export SYSDIG_ACCESS_KEY=sdf3sfg4g45gdfg
export STRIPE_SECRET_KEY=qwerty
export S3_BUCKET=controlplane.${TF_VAR_name}.${TF_VAR_base_domain}
export CONTROLPLANE_BUCKET=controlplane.${TF_VAR_name}.${TF_VAR_base_domain}
export TOOLBOX_IMAGE=docker.io/agilestacks/toolbox:latest
export TF_VAR_backend_bucket=terraform.agilestacks.com
export TF_VAR_backend_region=us-east-1
export TF_VAR_releases_bucket=releases.agilestacks.com
export TF_VAR_releases_region=us-east-1
export TF_VAR_keypair=agilestacks
export TF_VAR_mailgun_api_key=sfsf34fgefdgdf
export TF_VAR_master_instance_type=r4.large
export TF_VAR_master_count=1
export TF_VAR_master_spot_price=0.060
export TF_VAR_worker_instance_type=r4.large
export TF_VAR_worker_count=1
export TF_VAR_worker_spot_price=0.060
export TF_VAR_etcd_count=1
export TF_VAR_etcd_spot_price=0.060
export TF_VAR_aws_profile=default
export TF_VAR_vpc_cidr_block=10.0.0.0/16
export TF_VAR_control_plane_web_app_path=../control-plane
export TF_VAR_etcd_endpoints="[\"etcd.i.${TF_VAR_name}.${TF_VAR_base_domain}\"]"
export TF_VAR_kubelet_node_taints=node-role.kubernetes.io/master=:NoSchedule
export ECR_REGION=us-east-2
export KUBE_SSH_KEY=~/.ssh/agilestacks.pem
export KUBE_CTX=${TF_VAR_name}.${TF_VAR_base_domain}
export OFFLOAD_METHOD=none
export TF_VAR_okta_base_url=https://dev-111111.oktapreview.com
export TF_VAR_okta_api_key=dsfgdrg45gdfgdfgdf
export TF_VAR_okta_auth_server_id=sdfgdfg45g4gdf
export TF_VAR_okta_client_id=sfgdfg45grtfd
export TF_VAR_okta_client_secret=dgg45gdgdf
export DEX_OKTA_APP_ISSUER=https://dev-111111.oktapreview.com
export DEX_OKTA_APP_CLIENT_ID=sdfdfgerfg45g45
export DEX_OKTA_APP_CLIENT_SECRET=dfgdfg45gdfgdfgdf
export DEX_OKTA_APP_ID=sdfgeg45gdfgdf
export PATH=$PATH:${HOME}/agilestacks/automation-hub/cli/bin/$(uname -s | tr A-Z a-z)
